workDir = '/home/alumno22/rna_seq_nextflow/work'

process {
    executor = 'slurm'
    queue = 'eck-q'
    cpus = 4
    memory = '8 GB'
    time = '6h'

    withLabel: high_memory {
        cpus = 8
        memory = '16 GB'
        time = '12h'
    }
}

env {
    TMPDIR = '/home/alumno22/tmp'
}

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
}

conda {
    enabled = true
    autoActivate = true
    cacheDir = "$baseDir/conda"
}

